# Node modules
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Database
*.sqlite
*.db
/migrations/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
